<div class="jumbotron animated fadeIn">
  <h1 class="display-4">Super Héroes</h1>
  <p class="lead">En este sitio web encontrarás información sobre los super héroes de Marvel y DC muy famosos, podrás ver cada una de sus fichas con información detallada de cada personaje.</p>
  <hr class="my-4">
  <p>Esta aplicación fué desarrolada con la tecnología de Angular, con la idea de fabricar un sitio web SPA o SinglePageAplication de esta forma no necesitas acualizar o refrescar el navegador para mostrar contenido nuevo.</p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/heroes']" role="button">Visitar página de super héroes</a>
</div>
